<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.mv_medic">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"

        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning">
        <activity
            android:name=".payment"
            android:screenOrientation="fullSensor" />
        <activity
            android:name=".Myorder"
            android:screenOrientation="fullSensor" />
        <activity
            android:name=".main.user.otp"
            android:screenOrientation="fullSensor" />
        <activity
            android:name=".main.user.Register"
            android:screenOrientation="fullSensor" />
        <activity
            android:name=".mainacts.medical_tourism_Activity"
            android:screenOrientation="fullSensor" />
        <activity
            android:name=".login.enterprise.enterpriseActivity"
            android:screenOrientation="fullSensor" />
        <activity
            android:name=".login.enterprise.enterpriseLoginActivity"
            android:screenOrientation="fullSensor" />
        <activity
            android:name=".main.LoginClassifierActivity"
            android:screenOrientation="fullSensor" />

        <activity
            android:name=".main.user.loginActivity"
            android:screenOrientation="fullSensor" />
        <activity
            android:name=".main.user.login2Activity"
            android:screenOrientation="fullSensor" />
        <activity
            android:name=".uploadActivity"
            android:label="upload"
            android:screenOrientation="fullSensor" />
        <activity
            android:name=".Home_Activity"
            android:label="@string/title_activity_home_"
            android:screenOrientation="fullSensor" />
        <activity
            android:name=".MainActivity"
            android:screenOrientation="fullSensor">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="com.razorpay.ApiKey"
            android:value="rzp_live_7XmULnlPLDbKOR" />

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />

        <service
            android:name=".MyFirebaseMessegingService"
            tools:ignore="WrongManifestParent">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>
    </application>

    <uses-feature
        android:name="android.hardware.camera"
        android:required="true" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.CALL_PHONE" />


    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

</manifest>